<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ff.mapper.UserMapper" >
	
  <resultMap id="BaseResultMap" type="com.ff.model.User" >
    <id column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="department_id" property="departmentId" jdbcType="INTEGER" />
    <result column="role_id" property="roleId" jdbcType="INTEGER" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="is_male" property="isMale" jdbcType="CHAR" />
    <result column="mobile" property="mobile" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <result column="address" property="address" jdbcType="VARCHAR" />
    <result column="is_admin" property="isAdmin" jdbcType="CHAR" />
    <result column="is_system" property="isSystem" jdbcType="CHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="tel" property="tel" jdbcType="VARCHAR" />
    <result column="id_num" property="idNum" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="hobby" property="hobby" jdbcType="VARCHAR" />
    <result column="education" property="education" jdbcType="INTEGER" />
    <result column="card_num" property="cardNum" jdbcType="VARCHAR" />
    <result column="nation" property="nation" jdbcType="VARCHAR" />
    <result column="marry" property="marry" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="creater" property="creater" jdbcType="INTEGER" />
    <result column="update_time" property="updateTime" jdbcType="TIMESTAMP" />
    <result column="updater" property="updater" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from user
    where user_id = #{userId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.ff.model.User" >
    insert into user (user_id, department_id, role_id, 
      username, is_male, mobile, 
      age, address, is_admin, 
      is_system, password, tel, 
      id_num, email, hobby, 
      education, card_num, nation, 
      marry, status, remark, 
      create_time, creater, update_time, 
      updater)
    values (#{userId,jdbcType=INTEGER}, #{departmentId,jdbcType=INTEGER}, #{roleId,jdbcType=INTEGER}, 
      #{username,jdbcType=VARCHAR}, #{isMale,jdbcType=CHAR}, #{mobile,jdbcType=VARCHAR}, 
      #{age,jdbcType=INTEGER}, #{address,jdbcType=VARCHAR}, #{isAdmin,jdbcType=CHAR}, 
      #{isSystem,jdbcType=CHAR}, #{password,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, 
      #{idNum,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, #{hobby,jdbcType=VARCHAR}, 
      #{education,jdbcType=INTEGER}, #{cardNum,jdbcType=VARCHAR}, #{nation,jdbcType=VARCHAR}, 
      #{marry,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, #{remark,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP}, #{creater,jdbcType=INTEGER}, #{updateTime,jdbcType=TIMESTAMP}, 
      #{updater,jdbcType=INTEGER})
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.ff.model.User" >
    update user
    set department_id = #{departmentId,jdbcType=INTEGER},
      role_id = #{roleId,jdbcType=INTEGER},
      username = #{username,jdbcType=VARCHAR},
      is_male = #{isMale,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      age = #{age,jdbcType=INTEGER},
      address = #{address,jdbcType=VARCHAR},
      is_admin = #{isAdmin,jdbcType=CHAR},
      is_system = #{isSystem,jdbcType=CHAR},
      password = #{password,jdbcType=VARCHAR},
      tel = #{tel,jdbcType=VARCHAR},
      id_num = #{idNum,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      hobby = #{hobby,jdbcType=VARCHAR},
      education = #{education,jdbcType=INTEGER},
      card_num = #{cardNum,jdbcType=VARCHAR},
      nation = #{nation,jdbcType=VARCHAR},
      marry = #{marry,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      remark = #{remark,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      creater = #{creater,jdbcType=INTEGER},
      update_time = #{updateTime,jdbcType=TIMESTAMP},
      updater = #{updater,jdbcType=INTEGER}
    where user_id = #{userId,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select user_id, department_id, role_id, username, is_male, mobile, age, address, 
    is_admin, is_system, password, tel, id_num, email, hobby, education, card_num, nation, 
    marry, status, remark, create_time, creater, update_time, updater
    from user
    where user_id = #{userId,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select user_id, department_id, role_id, username, is_male, mobile, age, address, 
    is_admin, is_system, password, tel, id_num, email, hobby, education, card_num, nation, 
    marry, status, remark, create_time, creater, update_time, updater
    from user
  </select>
  
  <select id="login" resultMap="BaseResultMap">
  	select * from user where username = #{username} and password = #{password}
  </select>
  
  <select id="selectDim" resultMap="BaseResultMap" >
  	select * from user where username like  #{name}
  </select>
</mapper>